<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sambafedior.upscore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.SignupActivity"
            android:theme="@style/AppThemeActionbar" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppThemeActionbar" />
        <activity android:name=".view.activity.ResetPasswordActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MessagerieActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.PlanningActivity" />
        <activity android:name=".view.activity.PayshipActivity" />
        <activity android:name=".view.activity.InformationActivity" />
        <activity android:name=".view.activity.MissionActivity" />
        <activity android:name=".view.activity.SignupInformationActivity"></activity>
    </application>

</manifest>